* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 15vh;
  background-color: white;
  border-bottom: 2px solid lightgrey;
  position: fixed;
  top: 0;
  right: 0;
}

.header-top {
  width: 100%;
  height: 75%;
  padding: 15px;
}

.header-top img {
  width: 74px;
  height: 24px;
}

.header-bottom {
  width: 100%;
  height: 25%;
}

li {
  margin: 0 20px;
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(95, 99, 104);
}

main {
  padding-top: 15vh;
}

.container70 {
  margin: auto;
  width: 70%;
}

h2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 24px;
  color: rgb(60, 64, 67);
  padding-top: 60px;
  padding-bottom: 20px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 24px;
}
